/* INI ADALAH STYLE JUMBOTRON */
.jumbotron{
    background-image: url('img/slide5.jpg');
    background-size: cover;
    height: 770px;
    text-align: center;
    margin-top: -126px;
}

.jumbotron .display-4{
    color : black;
    margin-top: 220px;
}

.jumbotron p{
    color: black;
    font-size: 45px;
}

.jumbotron hr{
    border-width: 3px;
}

.jumbotron .btn{
    border-radius: 25px;
    padding-right: 25px;
    padding-left: 25px;
    margin-top: 15px;
}

.disabled[disabled] {
    color: red;
}

